/* Estilos para a seção de ônibus */
.onibus {
    padding: 40px 4%;
  }
  
  .onibus .interface {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .onibus .titulo {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .onibus .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .onibus .onibus-box {
    width: calc(25% - 30px); 
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  .onibus .onibus-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .onibus .onibus-box p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .onibus .onibus-box a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .onibus .onibus-box a:hover {
    background-color: #333;
  }
  