
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url(Fotos/belem.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}
.slider::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.5); 
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 450px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%; 
    display: flex;
    justify-content: center;
    
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    top: -190px; 
    z-index: 99999999999999;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
    transition: 0.5s;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #ff0054;
    transition: 0.5s;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #ff0054;
    transition: 0.5s;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
    transition: 0.5s;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #ff0054;
    transition: 0.5s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
    
    margin-left: 200px;
    
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
    
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

@media screen and (max-width:850px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}