
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.interface{
    max-width: 1680px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.btn-cadastrar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 800;
    background-color: #1eff00;
    background-size: 180px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.7s;
}
h2.titulo{
    color: #000000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #1eff00;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
    bottom: -100px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    z-index: 1;
}
header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
header a:hover{
    color: #000000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-cadastrar button:hover{
    box-shadow: 0px 0px 8px darkgoldenrod;
    transform: scale(1.05);
    
}

/* estilo do topo do site */

section .topo-do-site{
    padding: 40px 4%;
}

section .topo-do-site .flex{ 
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #000000;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-top-site h1 span{
    color: rgb(0, 0, 0);
}

.topo-do-site .txt-top-site p{
    color: #000000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;    
    width: 400px;
    height: auto;
    padding-left:200px;
}

/* animação */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* estilo das especialidades */

section.especialidades{
    padding: 40px 4px; 
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #000000;
    padding: 40px;
    border: 2px solid #000000;
    margin-top: 45px;
    border-radius: 20px;
    transition: 1s;
}

.especialidades .especialidades-box:hover{
    color: #000000;
    padding: 40px;
    border: 2px solid #000000;
    margin-top: 45px;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: 0 0 8px #00000067;
    
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #1eff00;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}